$mainColor: rgb(40, 78, 150);
$width: 768px;
$tabletWidth: 812px;

@mixin mobile {
  @media (max-width: #{$width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tabletWidth}) {
    @content;
  }
}
