@import "../../global.scss";

.dashboard {
  width: 100%;
  height: 100vh;
  background-color: $mainColor;

  .header {
    align-items: center;
    display: flex;
    width: 100%;
    top: 0;
    flex-direction: column;
    height: 10vh;
    h1 {
      color: white;
      font-size: 40px;
      margin-bottom: 0px;
      margin-top: 10px;
    }
    h3 {
      margin-top: 0px;
      font-size: 30px;
      color: rgb(0, 255, 179);
    }
  }
  .wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 90vh;

    .left {
      display: flex;
      position: relative;
      flex: 0.25;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      flex-direction: column;

      .case-status {
        background-color: rgba(255, 255, 255, 0.3);
        display: flex;
        flex: 0.2;
        margin: 10px;
        border-radius: 20px;
        flex-direction: column;

        .case-status-header {
          display: flex;
          width: 100%;
          border-radius: 20px 20px 0px 0px;
          height: 40px;
          background-color: rgba(255, 255, 255, 0.3);
          align-items: center;
          justify-content: center;
          h2 {
            color: white;
            margin-top: 20px;
            font-size: 28px;
          }
        }
        .tile-contents {
          color: white;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: brown;
          height: 100%;

          ul {
            width: 100%;
            text-align: center;
            justify-content: center;

            li {
              list-style: none;
              background-color: green;
            }
          }
        }
      }
      .exception {
        background-color: rgba(255, 255, 255, 0.3);
        display: flex;
        flex: 0.8;
        margin: 10px;
        border-radius: 20px;
        .exception-header {
          display: flex;
          width: 100%;
          border-radius: 20px 20px 0px 0px;
          height: 40px;
          background-color: rgba(255, 255, 255, 0.3);
          align-items: center;
          justify-content: center;
          h2 {
            color: white;
            margin-top: 20px;
            font-size: 28px;
          }
        }
      }
    }
    .middle {
      display: flex;
      position: relative;
      flex: 0.5;
      margin: 10px;
      flex-direction: column;

      .demographics {
        background-color: rgba(255, 255, 255, 0.3);
        display: flex;
        flex: 0.4;
        margin: 10px;
        border-radius: 20px;

        .demographics-header {
          width: 100%;
          display: flex;
          border-radius: 20px 20px 0px 0px;
          height: 40px;
          background-color: rgba(255, 255, 255, 0.3);
          align-items: center;
          justify-content: center;
          h2 {
            color: white;
            margin-top: 20px;
            font-size: 28px;
          }
        }
      }
      .sponsor {
        background-color: rgba(255, 255, 255, 0.3);
        display: flex;
        flex: 0.4;
        margin: 10px;
        border-radius: 20px;

        .sponsor-header {
          width: 100%;
          display: flex;
          border-radius: 20px 20px 0px 0px;
          height: 40px;
          background-color: rgba(255, 255, 255, 0.3);
          align-items: center;
          justify-content: center;
          h2 {
            color: white;
            margin-top: 20px;
            font-size: 28px;
          }
        }
      }
      .smarty-streets {
        background-color: rgba(255, 255, 255, 0.3);
        display: flex;
        flex: 0.2;
        margin: 10px;
        border-radius: 20px;

        .smarty-streets-header {
          width: 100%;
          display: flex;
          border-radius: 20px 20px 0px 0px;
          height: 40px;
          background-color: rgba(255, 255, 255, 0.3);
          align-items: center;
          justify-content: center;
          h2 {
            color: white;
            margin-top: 5px;
            font-size: 28px;
          }
        }
      }
    }
    .right {
      display: flex;
      position: relative;
      flex: 0.25;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;

      .taskbar {
        background-color: rgba(255, 255, 255, 0.3);
        display: flex;
        flex: 1;
        margin: 10px;
        border-radius: 20px;
        flex-direction: column;
        border-radius: 20px;

        .task-header {
          display: flex;
          border-radius: 20px 20px 0px 0px;
          height: 40px;
          background-color: rgba(255, 255, 255, 0.3);
          align-items: center;
          justify-content: center;

          h2 {
            color: white;
            margin-top: 5px;
            font-size: 28px;
          }
        }
        .tasks {
          width: 100%;
          display: flex;
          text-align: center;
          align-items: center;
          text-align: center;
          display: flex;
          ul {
            color: white;
            list-style: none;
          }
        }
      }
    }
  }
}
